.Cart{
    margin: 57px;
    text-align: center;
    border: 5px solid;
    border-radius: 33px;
    list-style: none;
    padding: 30px;
   }
   .link1{
    display: flex;
    gap: 203px;
   }
   div ul{
    padding: 0;
    margin: 0;
    background-color: bisque;
    margin-left: -8px;
    margin-top: -58.5px;
    margin-right: -7px;
   }
   div ul h4{
    text-align: center;
    margin-top: 0px;
    padding-top: 29px;
    font-size: 29px;
   }
   .btnContainer {
    text-align: center;
    margin-top: 70px;
    padding-bottom: 50px;
  }
  .btnVerTodo {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  .btnVerTodo:hover {
    background-color: #c4411f;
  }
  .textPpal{
    text-decoration: none;
  }
 
  
   
   