
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/src/assets/img/lasaña.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    color: rgb(34, 5, 5);
  }
  .navbar .img{
    width: 90px;
    border-radius: 75px 75px 10px 10px;
    border: solid;
  }
  .shoppingCart{
    width: 35px;
  }
  
  /* Logo */
  .logo {
    font-size: 50px;
    font-weight: bold;
  }
  
  /* Botón hamburguesa (oculto en pantallas grandes) */
  .menuButton {
    font-size: 24px;
    background: none;
    border: none;
    color: rgb(15, 13, 13);
    cursor: pointer;
    display: none;
  }
  
  /* Enlaces del menú */
  .navLinks {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
 .itemLink a {
    color: rgb(12, 12, 12);
    text-decoration: none;
    padding: 10px;
    font-size:22px;
    font-weight: 600;
  }
   li:hover{
   background-color:white; 
   opacity: 0.9;
  }

  .Menulis{
    padding: 0;
    margin: 0;
    background: #222;
    display: contents;
    }
    .Menulis .itemLink{
    margin: 10px 0;
    color: black;
    
    }
  
  










  /* Responsividad */
  @media (max-width: 375px) {
    .menuButton {
      display: block;
    }
  
    .navLinks {
      display: none;
      flex-direction: column;
      background: #222;
      position: absolute;
      top: 110px;
      right: 0;
      width: 95px;
      padding: 35px;
      margin-right: 20px;
    }
  
    .navLinks.show {
      display: flex;
    }
     .navbar .img{
      width: 55px;
     }
     .logo {
    font-size: 20px;
     }
     .Menulis{
      display: flex;
      flex-direction: column;
     }
     .shoppingCart{
      width: 25px;
     }
    .itemLink a {
      color: white;
      font-size: 15px;
      
    }
    
  }
  