
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/src/assets/img/lasaña.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    color: rgb(34, 5, 5);
  }
  .navbar .img{
    width: 55px;
    border-radius: 75px 75px 10px 10px;
    border: solid;
  }
  .shoppingCart{
    width: 25px;
  }
  
  /* Logo */
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Botón hamburguesa (oculto en pantallas grandes) */
  .menuButton {
    font-size: 24px;
    background: none;
    border: none;
    color: rgb(15, 13, 13);
    cursor: pointer;
    display: none;
  }
  
  /* Enlaces del menú */
  .navLinks {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navLinks li a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
   li:hover{
   background-color:white; 
   opacity: 0.9;
  }

  .Menulis{
    padding: 0;
    margin: 0;
    background: #222;
    }
    .Menulis .itemLink{
    margin: 10px 0;
    
    }
     
  










  /* Responsividad */
  @media (max-width: 768px) {
    .menuButton {
      display: block;
    }
  
    .navLinks {
      display: none;
      flex-direction: column;
      background: #222;
      position: absolute;
      top: 110px;
      right: 0;
      width: 95px;
      padding: 35px;
      margin-right: 20px;
    }
  
    .navLinks.show {
      display: flex;
    }
    
  }
  