.volver{
    background-color: #ff5733;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 130px;
    text-align: center;
}
.volver2{
    text-decoration: none;
    align-items: center;
}
 .titlePpal{
    text-align: center;
    padding: 31px;
    border-bottom: double;
}
div ul .labels{
    text-align: start;
    margin-left: 14px;
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

