.shoppingCart{
    padding: 11px 0 0 0;
}
span{
    margin-left: -19px;
    margin-top: -6px;
    position: absolute;
    color: black;
    font-weight: 600;
}


@media (max-width: 375px) {
span{
    color: black;
    margin-left: -15px;
    margin-top: -3px;
        }
}