.container{ 
    width: 100%;
    height: 76vh;
    margin: 0;
    background-position: center;
    background-image: url("../../assets/img/alimento2.png");
}
.comprar{
    position: absolute;
    top: 45%;
    left: 25%;
    text-align: center;
    color: black;
}