.container{ 
    width: 104%;
    height: 82vh;
    margin-top: 26px;
    margin-left: -7px;
    background-position: center;
    background-image: url("../../assets/img/alimento2.png");
    background-repeat: no-repeat;
}
.comprar{
    position: absolute;
    top: 45%;
    left: 25%;
    text-align: center;
    color: black;
}