*{
    margin: 0%;
    padding: 0%;
    height: 145rem;

}
/* .home{
    background-image: url("./assets/img/img_Ppal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 376px;
    height: 693px;
} */